.top{
    display:flex;
    background-color:black;
    flex-direction:column;
    color: white;
    text-align:center;
    
}
img{
    width:200px;
    height:300px;
   
}
.button {
    padding:50px;
    text-align:center;
    
}
.menu{
    display:flex;
    width:30%;
    background:grey;
    color:white;
    justify-content:flex-start;
    
}
.pic{
    display:flex;
    
    
}
h1 {
    font-family: 'Anton', sans-serif;
}
img2 {
    width:500px;
    height:400px;
}


